<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MANZLEE_RETAIL_MANAGEMENT_SYSTEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MANZLEE_RETAIL_MANAGEMENT_SYSTEM.Properties.Settings.PURCHASEConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PURCHASE.accdb"
            providerName="System.Data.OleDb" />
        <add name="MANZLEE_RETAIL_MANAGEMENT_SYSTEM.Properties.Settings.PURCHASConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PURCHAS.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MANZLEE_RETAIL_MANAGEMENT_SYSTEM.Properties.Settings.purchaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\productpurch.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MANZLEE_RETAIL_MANAGEMENT_SYSTEM.Properties.Settings.PURCHASConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PURCHAS.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MANZLEE_RETAIL_MANAGEMENT_SYSTEM.Properties.Settings>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
            <setting name="star" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="black" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
        </MANZLEE_RETAIL_MANAGEMENT_SYSTEM.Properties.Settings>
    </userSettings>
</configuration>